.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  background-image: url(leaves3big2.png), linear-gradient(#00DEFF, black);
  background-size: cover;
background-repeat: repeat-x;
padding: 0;
}

.a {
  grid-area: 1 / 1 / 1 / span 4;

}

.b {
  grid-area: 2 / 2 / 2 / span 2;
}

.c {
  grid-area: 3 / 2 / 3 / 2;
}

.d {
  grid-area: 3 / 3 / 3 / 3;
}

.e {
  grid-area: 4 / 1 / 4 / 1;
  background-color: transparent;
}

.f {
  grid-area: 4 / 2 / 4 / 2;
  background-color: transparent;
}

.g {
  grid-area: 4 / 3 / 4 / 3;
  background-color: transparent;
}

.h {
  grid-area: 4 / 4 / 4 / 4;
  background-color: transparent;
}

.box {
  color: black;

}


/* Below is the dropdown menu test text */


.nav {
  width: 100%;
  background: #1e8449;
  color: #f0f0f0;
}
.nav a {
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}
.nav__menu {
  line-height: 45px;
  font-weight: 700;
  align-self: auto;
  text-transform: uppercase;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
}
.nav__menu-item:hover {
  background-color: black;
}
.nav__menu-item:hover .nav__submenu {
  display: block;
}
.nav__submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color: #DC1919;
}
.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
