@grid-gutter-width: 30px;
@line-height-base: 1.428571429;
@gray: #555;
@link-hover-color: darken(#337ab7, 15%);

/* Descendant of .nav, Bootstrap specificity (shouldn't be like this) */
.nav > .dropdown-megamenu {
  position: static;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-container {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      border: 0;
      box-shadow: none;
      border-radius: 0;
  }
}


.dropdown-megamenu > .dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 0.5 * @grid-gutter-width;

}

.dropdown-megamenu .dropdown-menu {
  display: block;



}

.link-image .media-object {
  float: left;
  margin-bottom: 0.25 * @grid-gutter-width;



}

.link-image-sm + .link-image-sm .media-object {
  margin-left: 0.25 * @grid-gutter-width;
  float: left;




}

.thumbnail img{
  width: 100%;
}

.thumbnail .caption {
  min-height: 120px;



}
.thumbnail:hover {
  text-decoration: none;
}

/* Link list */
.list-links {
  list-style: none;
  padding: 0;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.text-muted{
  font-size: 17px;
}

  li {
    line-height: 1.2 * @line-height-base;
  }

  a {
    color: @gray;

    &:hover,
    &:focus,
    &:active {
      color: @link-hover-color;
    }
  }
}

.frick{
  padding: 20px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* General styles to improve presentation */
html, body {
  height: 100%;
  min-height: 500px;


}

.example-megamenu {
  width: 100%;
  margin: 0 auto;
}

h5{
  font-size: 25px;
}

.caption p{
  font-size: 20px;
}

.col-sm-6 .col-md-4 h5{
   font-family: 'Roboto', sans-serif;
}


.media-object{
  margin: 10px;
}

.funfacts{
  padding: 15px;
  padding-left: 30px;
  list-style: initial;
  line-height: 30px;
  font-size: 15px;
}


body{
  background-image: linear-gradient(red, black);
}




/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup)
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}
*/
