body{
  overflow-y: scroll;
}

div{
  position: relative;
}

.mainsection{
  background-image:  url(treesofficial.jpg);
  background-size: cover;
}

.icon{
  background-image: url(menuicon.png);
  background-size: contain;
  height: 70px;
  width: 70px;
  background-color: transparent;
  border: transparent;
}

.dropdown {
  left: 15px;
  top: 15px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9EC7AA}

.dropdown:hover .dropdown-content {
  display: block;
}

.menuu{
  height: 100px;
}

.quote{
  background-color: inherit;
  height: 350px;
  font-family: 'Shrikhand', cursive;
  letter-spacing: 2px;
  font-size: 30px;
  width: 50%;
  left: 25%;
  padding-top: 10%;
}

hr{
  width: 70%;
  left: 15%;
  height: 2px;
  background-color: black;
}

table p{
  font-family: 'Gelasio', serif;
}

table{
  font-family: 'Gelasio', serif;
}

.firsthorizontal table, .secondhorizontal table, .thirdhorizontal table {
  padding-top: 30px;
  padding-bottom: 30px;
  border-color: transparent;
}

.firsthorizontal table{
  padding-top: 60px;
}

.firsthorizontal table p{
  width: 60%;
  color: #092b24;
  font-weight: bolder;
  padding-left: 10%;
  font-size: 20px;
}

.firsthorizontal table img, .thirdhorizontal table img{
  width: 60%;
  padding-right: 15%
}

.secondhorizontal table p{
  width: 60%;
  color: #f5e8f1;
  padding-right: 15%;
  font-size: 20px;
  font-weight: bolder;
}

.secondhorizontal table img{
  width: 60%;
  padding-left: 10%;
}

.thirdhorizontal table p{
  width: 60%;
  color: #9EC7AA;
  font-weight: bolder;
  padding-left: 10%;
  font-size: 20px;
}

.thirdhorizontal table{
  padding-bottom: 80px;
}




.contact table{
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  border-top: 80px;
  padding-top: 10px;
  color: #9EC7AA;
  background-color: #365c44;
}

.contactheader{
  font-weight: bold;
  color: #f5e8f1;
  text-transform: uppercase;
  border-color: transparent;
}

.links table{
  background-color: #0c2e28;
  width: 100%;
  color: #9EC7AA;
  border-color: transparent;
  vertical-align: top;
}

.links table a{
  color: #9EC7AA;
}

.linksheader{
  font-weight: bolder;
  padding-top: 10px;
  color: #f5e8f1;
}

.linkscontent, .linksheader{
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
}
